* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #877a7a;
}

#login {
    width: 100%;
    max-width: 414px;
    height: 956px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#login img {
    width: 200px;
    display: block;
    margin: 0 auto 50px;
}

.card-content-area {
    text-align: left;
    margin-bottom: 15px;
}

.card-content-area label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.card-content-area input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;   
}

.card-content-area input:focus {
    border-color: #000000;
    background: #fff;
    outline: none;
}

.card-footer {
    margin-top: 30px;
}

.card-footer .submit {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;    
}

.card-footer .submit:hover {
    background-color: #030305;
}

.recuperar_senha {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;     
}

.recuperar_senha:hover {
    color: #000000;
    text-decoration: underline;
}